{% extends 'base.html' %}
{% block title %}Batch Prediction{% endblock %}
{% block content %}
<div class="container mt-5">
  <h2 class="text-center mb-4"></h2>Predictions</h2>

  <div class="card p-4 shadow-sm">
    <form method="POST" enctype="multipart/form-data">
      <div class="mb-3">
        <label for="csv_file" class="form-label">Upload Dataset (CSV)</label>
        <input type="file" name="csv_file" id="csv_file" class="form-control" accept=".csv" required>
      </div>
      <button type="submit" class="btn btn-primary w-100">Upload & Predict</button>
    </form>



    {% if error %}
      <div class="alert alert-danger mt-3 text-center">{{ error }}</div>
    {% endif %}

    {% if result %}
      <div class="mt-4">
        <h5 class="text-center mb-3">Prediction Results</h5>
        <div class="table-responsive">{{ result | safe }}</div>
      </div>
    {% endif %}
  </div>


</div>
{% endblock %}
